@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body{
    font-family: 'Comfortaa';
    color: #7296a4;
    background-color: #cddee5;
}

nav {
    background-color: #efefef;
}

.img{
    max-block-size: 40px; 
}
.img2{
    height: 30px; 
    width: 40px;
}

.style_inputs input{
    font-weight: bold;
    border-radius: 25px;
}

button{
    color: #295f75;
    background-color: #f0f8ff00;
    border: 3px solid #95becc;
    border-radius: 2vw;
}