@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body{
  font-family: 'Comfortaa';
}

nav {
    background-color: #efefef;
}

.map{
    width: 100%;
    height: 84.7vh;
}

.img{
    max-block-size: 40px; 
}
.img2{
    height: 30px; 
    width: 40px;
}
.busqueda{
    font-size:medium;
}

.img3{
    max-block-size: 60px;
    height: auto; 
}

.img4{
    max-block-size: 100px;
    height: auto; 
}

.img5{
  max-inline-size: 100px;
  align-self: center;
  
}

.puntuacion {
    width: 100%;
  }
  
  .fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .categoria {
    flex: 1;
  }
  
  .estrellas {
    flex: 2;
  }
  
  .star {
    font-size: 24px;
  }
  
  .ok{
    color: gold;
  }

  .nok{
    color: rgba(255, 217, 0, 0);
  }

  .card{
    border-color:#dfdfdf00 ;
  }

  .cuadro{
    background-color: #ceecf7;
    border-radius: 4vw;
  }

  a{
    text-decoration: none;
    color: #ceecf7;
  }

  .card-body{
    background-color: #7296a4;
    border-radius: 3vw;
  }

  .contenedor_mapa {
    position: relative; /* Añade posición relativa al contenedor */
    overflow: hidden; /* Evita que el mapa se salga del contenedor */
  }
  
  #mi_mapa {
    width: 100%; /* Ajusta el ancho del mapa al 100% del contenedor */
    height: 84.7vh; /* Ajusta la altura del mapa al 100% del contenedor */
  }
  