body{
    background-color: #cddee5;
    margin: 0cm;
    color: #e6f0f2;
}

.mostrar_usuario{
    background-color:#7296a4;
    border-radius: 2vw;
    place-content: center;
}

.info{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.barra{
    color: rgb(0, 0, 0);
}

a{
    text-decoration: none;
    color: #e6f0f2;
}

.btn{
    color: #e6f0f2;
    font-size:25px
}